altair
numpy
pandas
pydeck
streamlit
matplotlib
gspread
google-auth 
google-auth-oauthlib 
google-auth-httplib2
langchain 
langchainhub 
huggingface_hub 
openai
plotly
tiktoken 
wikipedia
numexpr
Pillow
pytesseract
